{% extends 'global/base.html' %}

{% block title %}Tabela de Ações | {% endblock title %}

{% block content %}

<div class=corpo-pagina>
    <div class="menu-lateral">
        <ul class="menu">
            <li>
                <a href="../visao-geral" class="menu-item">
                    <span class="icon">📂</span>
                    <span class="text">Visão Geral</span>
                </a>
            </li>
            <li>
                <a href="../graficos" class="menu-item">
                    <span class="icon">📊</span>
                    <span class="text">Gráficos</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-item">
                    <span class="icon">🎯</span>
                    <span class="text">Metas</span>
                </a>
            </li>
            <li>
                <a href="" class="menu-item">
                    <span class="icon">📈</span>
                    <span class="text">Ações</span>
                </a>
            </li>
            <li>
                <a href="../criptomoedas" class="menu-item ultimo-item">
                    <span class="icon">💲</span>
                    <span class="text">Criptomoedas</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="conteudo-principal">
        <div class="container">
            <h1>Tabela de Cotações</h1>
            {% if error_message %}
                <p class="error">{{ error_message }}</p>
            {% endif %}
            {% if mensagem_atualizacao %}
                <div class="alerta alerta-info">
                    {{ mensagem_atualizacao }}
                </div>
            {% endif %}
        <table>
            <thead>
                <tr>
                    <th>Ativo</th>
                    <th>Data</th>
                    <th>Abertura (R$)</th>
                    <th>Máximo (R$)</th>
                    <th>Mínimo (R$)</th>
                    <th>Fechamento (R$)</th>
                    <th>Volume</th>
                </tr>
            </thead>
            <tbody>
                {% for dado_acao in dados_acoes %}
                <tr>
                    <td>{{ dado_acao.nome_ativo }}</td>
                    {% if dado_acao.error %}
                    <td colspan="6" class="error">{{ dado_acao.error }}</td>
                    {% else %}
                    <td>{{ dado_acao.date }}</td>
                    <td>{{ dado_acao.abertura }}</td>
                    <td>{{ dado_acao.maximo }}</td>
                    <td>{{ dado_acao.minimo }}</td>
                    <td>{{ dado_acao.fechamento }}</td>
                    <td>{{ dado_acao.volume }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
</div>

{% endblock content %}