{% extends 'global/base.html' %}
{% load humanize %}

{% block title %}Tabela de Criptomoedas | {% endblock title %}

{% block content %}

<div class=corpo-pagina>
    <div class="menu-lateral">
        <ul class="menu">
            <li>
                <a href="{% url 'visao-geral' %}" class="menu-item">
                    <span class="icon">📂</span>
                    <span class="text">Visão Geral</span>
                </a>
            </li>
            <li>
                <a href="{% url 'graficos' %}" class="menu-item">
                    <span class="icon">📊</span>
                    <span class="text">Gráficos</span>
                </a>
            </li>
            <li>
                <a href="{% url 'metas' %}" class="menu-item">
                    <span class="icon">🎯</span>
                    <span class="text">Metas</span>
                </a>
            </li>
            <li>
                <a href="{% url 'tabela_acoes' %}" class="menu-item">
                    <span class="icon">📈</span>
                    <span class="text">Ações</span>
                </a>
            </li>
            <li>
                <a href="{% url 'criptomoedas' %}" class="menu-item ultimo-item">
                    <span class="icon">💲</span>
                    <span class="text">Criptomoedas</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="conteudo-principal">
        <div class="container">
            <h1>Top 10 Criptomoedas</h1>
            {% if error_message %}
                <p class="error">{{ error_message }}</p>
            {% else %}
            {% if mensagem_atualizacao %}
                <div class="alerta alerta-info">
                    {{ mensagem_atualizacao }}
                </div>
            {% endif %}
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Preço (USD)</th>
                        <th>Capitalização de Mercado (USD)</th>
                        <th>Volume 24h (USD)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for moeda in criptomoedas %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ moeda.nome_ativo }}</td>
                        <td>${{ moeda.preco_atual|floatformat:2 }}</td>
                        <td>${{ moeda.capitalizacao_mercado|intcomma }}</td>
                        <td>${{ moeda.volume_24h|intcomma }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
</div>

{% endblock content %}