{% extends 'global/base.html' %}

{% block title %}Login | {% endblock title %}


{% block content %}
    <div class=caixa-login>
        <div class=texto-login>
            <h2>Login</h2>
        </div>
        <div>
            <form class=login-form action="#" method="post">
                <input type="text" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Senha" required>
                <input type="submit" value="Entrar">
            </form>
        </div>
        <div>
            <a class=link-cadastro href="#">Não tem uma conta? Cadastre-se</a>
        </div>
    </div>
{% endblock content %}


