{% extends 'global/base.html' %}

{% block title %}Perfil - Mudar Senha | {% endblock title %}


{% block content %}
    <div class="container-mudar-senha">
        <h2>Alterar Senha</h2>
        <form method="post">
            {% csrf_token %}
            <div class="formulario">
                {{ form.senha_antiga.label_tag }}
                {{ form.senha_antiga }}
                {% if form.senha_antiga.errors %}
                    <small class="error">{{ form.senha_antiga.errors|striptags }}</small>
                {% endif %}
            </div>
            <div class="formulario">
                {{ form.nova_senha1.label_tag }}
                {{ form.nova_senha1 }}
                {% if form.nova_senha1.errors %}
                    <small class="error">{{ form.nova_senha1.errors|striptags }}</small>
                {% endif %}
            </div>
            <div class="formulario">
                {{ form.nova_senha2.label_tag }}
                {{ form.nova_senha2 }}
                {% if form.nova_senha2.errors %}
                    <small class="error">{{ form.nova_senha2.errors|striptags }}</small>
                {% endif %}
            </div>
            <button type="submit" class="botao-mudar-senha">Alterar Senha</button>
        </form>
        <a href="{% url 'perfil' %}" class="botao-voltar-mudar-senha">Voltar</a>
    </div>
{% endblock content %}


