{% extends 'global/base.html' %}

{% block title %}Perfil Endividado | {% endblock title %}


{% block content %}
    <div class="container-pag-perfil">
        <div class="content-pag-perfil">
            <h2 class="h2-pag-perfil">Descrição do Perfil Endividado</h2>
            <p>Você foi direcionado ao perfil Endividado. Este perfil é ideal para quem deseja organizar suas finanças, reduzir dívidas e alcançar estabilidade financeira. Aqui, você encontrará ferramentas úteis para planejar suas despesas, acompanhar seus pagamentos e aprender sobre educação financeira para evitar endividamento no futuro.</p>
            <p>Com o perfil Endividado, você poderá:</p>
            <ul class="ul-pag-perfil">
                <li class="li-pag-perfil">Planejar estratégias para quitar suas dívidas.</li>
                <li class="li-pag-perfil">Acompanhar seus pagamentos em tempo real.</li>
                <li class="li-pag-perfil">Receber dicas práticas para economizar dinheiro.</li>
                <li class="li-pag-perfil">Acessar conteúdos exclusivos sobre gestão financeira.</li>
            </ul>
            <p>Nosso objetivo é ajudá-lo a sair do vermelho e construir um futuro financeiro estável. Vamos começar?</p>
            <a class="btn" href="../../login">Vá para página de login</a>
        </div>
        
        <div class="image">
            <img src="../../../static/AppFinVest/images/endividado.png" alt="Perfil endividado">
        </div>
    </div>

{% endblock content %}