{% extends 'global/base.html' %}

{% block title %}Perfil Investidor | {% endblock title %}

{% block content %}
    <div class="container">
        <div class="content">
            <h2>Descrição do Perfil Investidor</h2>
            <p>Você foi direcionado ao perfil Investidor. Este perfil é ideal para quem deseja aumentar seu patrimônio com segurança e estratégia. Aqui, você encontrará ferramentas para planejar seus investimentos, monitorar seu progresso e acessar conteúdos exclusivos sobre educação financeira.</p>
            <p>Com o perfil Investidor, você poderá:</p>
            <ul>
                <li>Criar metas de investimento personalizadas.</li>
                <li>Descobrir formas seguras e acessíveis de investir seu dinheiro.</li>
                <li>Acompanhar o desempenho dos seus investimentos em tempo real.</li>
                <li>Receber dicas práticas para otimizar seus ganhos.</li>
            </ul>
            <p>Seja você iniciante ou experiente, nosso app ajudará a construir um futuro financeiro sólido. Vamos começar?</p>
            <a class="btn" href="../../login">Vá para página de login</a>
        </div>
        <div class="image">
            <img src="../../../static/AppFinVest/images/investidor.png" alt="Imagem de perfil endividado">
        </div>
    </div>
{% endblock content %}