{% extends 'global/base.html' %}

{% block title %}Visão Geral | {% endblock title %}

{% block content %}
<div class=corpo-pagina>
    <div class="sidebar">
        <ul class="menu">
            <li>
                <a href="" class="menu-item">
                    <span class="icon">📂</span>
                    <span class="text">Visão Geral</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-item">
                    <span class="icon">📊</span>
                    <span class="text">Gráficos</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-item">
                    <span class="icon">🎯</span>
                    <span class="text">Metas</span>
                </a>
            </li>
            <li>
                <a href="../acoes" class="menu-item">
                    <span class="icon">📈</span>
                    <span class="text">Ações</span>
                </a>
            </li>
            <li>
                <a href="../criptomoedas" class="menu-item ultimo-item">
                    <span class="icon">💲</span>
                    <span class="text">Criptomoedas</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="conteudo-principal">
        <div class="caixas-container">
            <div class="caixa"></div>
            <div class="caixa"></div>
            <div class="caixa"></div>
        </div>
        <div class="grafico"></div>
    </div>
    <div class="botao-adicionar">+</div>
</div>
{% endblock content %}

