{% extends 'global/base.html' %}

{% block title %}Visão Geral | {% endblock title %}

{% block content %}
<div class=corpo-pagina>
    <div class="menu-lateral">
        <ul>
            <li><a href="#">Visão Geral</a></li>
            <li><a href="#">Gráficos</a></li>
            <li><a href="#">Metas</a></li>
            <li><a href="#">Ações</a></li>
            <li><a href="#">Criptomoedas</a></li>
        </ul>
    </div>
    <div class="conteudo-principal">
        <div class="caixas-container">
            <div class="caixa"></div>
            <div class="caixa"></div>
            <div class="caixa"></div>
        </div>
        <div class="grafico"></div>
    </div>
    <div class="botao-adicionar">+</div>
</div>
{% endblock content %}

