{% extends 'global/base.html' %}

{% block title %}Visão Geral | {% endblock title %}

{% block content %}
<div class="corpo-pagina">
    <div class="menu-lateral">
        <ul class="menu">
            <li>
                <a href="{% url 'visao-geral' %}" class="menu-item">
                    <span class="icon">📂</span>
                    <span class="text">Visão Geral</span>
                </a>
            </li>
            <li>
                <a href="{% url 'graficos' %}" class="menu-item">
                    <span class="icon">📊</span>
                    <span class="text">Gráficos</span>
                </a>
            </li>
            <li>
                <a href="{% url 'metas' %}" class="menu-item">
                    <span class="icon">🎯</span>
                    <span class="text">Metas</span>
                </a>
            </li>
            <li>
                <a href="{% url 'tabela_acoes' %}" class="menu-item">
                    <span class="icon">📈</span>
                    <span class="text">Ações</span>
                </a>
            </li>
            <li>
                <a href="{% url 'criptomoedas' %}" class="menu-item ultimo-item">
                    <span class="icon">💲</span>
                    <span class="text">Criptomoedas</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="conteudo-principal">
        <!-- Exibição dos valores de patrimônio, renda e dívida -->
        <div class="caixas-container">
            <div class="caixa">
                <h3>Patrimônio</h3>
                <p>R$ {{ patrimonio_atual }}</p>
            </div>
            <div class="caixa">
                <h3>Renda</h3>
                <p>R$ {{ renda_atual }}</p>
            </div>
            <div class="caixa">
                <h3>Dívida</h3>
                <p>R$ {{ divida_atual }}</p>
            </div>
        </div>
        
        <div class="graficos-container">
            <!-- Gráfico 1: Patrimônio ao longo do tempo -->
            <canvas id="grafico-patrimonio" 
            data-meses="{{ meses }}" 
            data-patrimonio="{{ patrimonio }}">
            </canvas>
        </div>

        <div class="info-section">
        
</script>
{% endblock content %}
