/* Estilização geral */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
  }

body{
    background-color: #F5F6FA;
}

/* Estilização do Header */

header {
    background-color: #1B50AC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 20px;
    height: 70px;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-family: "Poetsen One", serif;
    font-size: 48px;
    text-align: center;
}

.info-usuario {
    display: flex;
    align-items: center;
    margin-left: auto;
    color: white;
}

.nome_usuario {
    font-size: 15px;
}

.tipo-usuario {
    font-size: 10px;
    text-align: end;
}

.icone-perfil {
    font-size: 24px;
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-left: 25px;
}

.icone-perfil:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
    cursor: pointer;
}


/* Estilização da Página de Login */

.container-login {
    background-color: white;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.texto-login{
    align-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.texto-login h2{
    color: white;
    font-size: 44px;
    font-weight: 400;
    font-style: normal;
}

.link-cadastro{
    color: white;
    font-size: 20px;
}

.link-cadastro:hover{
    color:  #ddd;
}


/* Estilização das paginas principais do site */

.corpo-pagina {
    display: flex;
    margin: 20px;
    align-items: flex-start;
}

.menu-lateral {
    width: 300px;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 0;
    border-radius: 8px;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 20px;
    color: #000;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-bottom: 2px solid #1B50AC;
}

.ultimo-item {
    border-bottom: none;
}

.menu-item:hover {
    color: #1B50AC;
    background-color: #f9f9f9;
}

.menu-item .icon {
    font-size: 26px;
    margin-right: 15px;
}

.conteudo-principal {
    width: 80%;
    padding: 20px;
}

.caixas-container {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.caixa {
    flex: 1;
    height: 100px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.grafico {
    width: 100%;
    height: 300px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.botao-adicionar {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #1e5ab7;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.botao-adicionar:hover {
    background-color: #164a93;
}


/* Estilização da tabela de ações */

.container {
    max-width: 100%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #ddd;
}

th {
    background-color: #1B50AC;
    color: white;
    padding: 10px;
}

td {
    padding: 8px;
    text-align: center;
}

.error {
    color: red;
}

/* Estilização de Fomrulários */

.formulario {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.formulario label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    text-align: left;
}

.formulario input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


/*Páginas de Cadastro*/

.container-cadastro {
    background-color: white;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    color: #1B50AC;
    margin-bottom: 20px;
}

button.btn {
    background-color: #1B50AC;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

button.btn:hover {
    background-color: #164a93;
}

.link-login {
    margin-top: 10px;
    font-size: 14px;
}

.link-login a {
    color: #1B50AC;
    text-decoration: none;
}

.link-login a:hover {
    text-decoration: underline;
}


/* Página de Perfil */

.container-perfil {
    display: flex;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.perfil-esquerdo {
    width: 30%;
    padding: 20px;
    border-right: 1px solid #ddd;
}
.perfil-direito {
    width: 70%;
    padding: 20px;
}
.perfil-nome_usuario {
    font-size: 20px;
    margin-bottom: 10px;
}
.perfil-tipo_usuario {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}
.botoes-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.botoes-perfil a,
.botoes-perfil button {
    width: 100%;
    padding: 10px 0;
    border: none;
    background-color: #1b50ac;
    color: white;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.botoes-perfil button.logout {
    background-color: #d32f2f;
    width: 307px;
}

.botoes-perfil button.delete {
    background-color: #d32f2f;
    width: 307px;
}

.botoes-perfil button.logout:hover {
    background-color: #a31a1a;
}

.botoes-perfil button.delete:hover {
    background-color: #a31a1a;
}

.botao-atualizar-dados {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #1b50ac;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

.botao-voltar {
    display: block;
    width: fit-content;
    padding: 10px;
    border: none;
    background-color: #1b50ac;
    color: white;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 470px;
}

.link-mudar-senha { 
    display: block; 
    margin-top: 20px; 
    padding: 10px; 
    background-color: #1b50ac; 
    color: white; 
    text-align: center; 
    text-decoration: none; 
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
} 

.link-mudar-senha:hover { 
    background-color: #164a93; 
}

/*Estilização da página de perfil*/
.container {
    display: flex;
    justify-content: flex-start; /* Alinha o conteúdo à esquerda */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Faz o contêiner ocupar a altura total da tela */
    padding: 0 50px; /* Adiciona espaço lateral */
}

.content {
    max-width: 800px; /* Aumenta a largura do quadrado */
    text-align: justify; /* Justifica o texto para melhorar a legibilidade */
    padding: 30px; /* Adiciona mais espaço interno */
    background-color: #fff; /* Fundo branco para destaque */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding-left: 20px;
    margin-bottom: 20px;
}

li {
    margin-bottom: 10px;
}

.btn {
    display: inline-block; /* Garante que o botão se comporte como um bloco */
    margin-top: 20px; /* Adiciona espaço acima do botão */
    padding: 15px 30px; /* Define o tamanho interno do botão */
    background-color: #004d99;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border-radius: 5px; /* Bordas arredondadas para harmonizar com o estilo */
}

.btn:hover {
    background-color: #003366;
}

.btn:hover {
    background-color: #003366;
}

.image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.image img {
    width: 80%;
    max-width: 400px;
    height: auto;
}


/* Estilos do formulário de mudança de senha */

.container-mudar-senha {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.botao-mudar-senha {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #1b50ac;
    color: white;
    cursor: pointer;
}
.botao-voltar-mudar-senha {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #f5f6fa;
    color: #1b50ac;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}


/* Estilização das mensagens */

.alerta {
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
}

.alerta-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
